
.App {


  background-color:#4EA8DE ;

  min-height: 100vh;

  display:flex;
  flex-direction:column;
  

  padding-right: 50%;

  align-items:center;

  justify-content:center;
  font-size: calc(19.6px + 1.5vmin);
  font-family:sans-serif;
  font-style:italic;
  
  text-align: left;
 
  color: white;
}




